.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: transform 350ms;
    right: -250px;
}

.sidenav.open {
    transform: translateX(-250px);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: red;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.sidenav-icon {
    outline: none;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 1;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: red;
    margin: 6px 0;
    transition: transform 350ms;
}

.active .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.active .bar2 {
    opacity: 0;
}

.active .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}